<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Document</title>
  </head>
  <body class="index">
    <header>
      <h1>Welcome to my Shop!</h1>
      <nav class="page">
        <button id="index" onclick="location.href='/'" style="font-size: 20px">
          &#x2190;
        </button>
      </nav>
    </header>
    <section class="detail">
      <div id="product-body"></div>
    </section>
    <input type="hidden" id="productdata" value="<%= JSON.stringify(data) %>" />
    <script src="/detail.js"></script>
  </body>
</html>
