<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Document</title>
  </head>
  <body class="index">
    <header>
      <h1>Welcome to my Shop!</h1>
      <nav class="page">
        <a href="index.html" id="index">Main Page</a>
        <a href="login.html" id="login">Log In Page</a>
        <a href="signup.html" id="signup">Sign Up Page</a>
      </nav>
    </header>
    <script src="script.js"></script>
  </body>
</html>
